body {
  font-family: "Noto Sans Hebrew", sans-serif;
}

li {
  list-style-type: none;
  cursor: pointer;
  transition: 0.5s;
}

#menu {
  display: none;
}

.slick-slide {
  margin: 0 10px;
}

.slick-prev:before,
.slick-next:before {
  color: #e40306;
}

.slider-for img {
  width: 100%;
  height: 420px;
  object-fit: cover;
}

.slider-nav {
  margin: 10px 30px;
}

.slider-nav img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.selector {
  cursor: pointer;
}

#selectField,
#selectField0,
#selectField2,
#selectField3 {
  width: 100%;
  padding: 19px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 30px; */
}

#selectField img,
#selectField0 img,
#selectField2 img,
#selectField3 img {
  transition: transform 0.5s;
}

#list,
#list0,
#list2,
#list3 {
  width: 100%;
  background: white;
  text-align: right;
  overflow: hidden;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.options,
.options0,
.options2,
.options3 {
  padding: 10px 20px;
  box-sizing: border-box;
  list-style: none;
  transition: 0.3s;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}

.options:last-child,
.options0:last-child,
.options2:last-child,
.options3:last-child {
  border-bottom: none;
}

.options:hover,
.options0:hover,
.options2:hover,
.options3:hover {
  background: #e40306;
  color: white;
}

.hide {
  display: none;
}

.rotate {
  transform: rotate(180deg);
}

input[type="range"] {
  appearance: none;
  width: 300px;
  height: 3px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(#e40306, #e40306);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* range slider */
.range-slider {
  margin-top: 15px;
  height: 5px;
  position: relative;
  background-color: #f5e6e6;
  border-radius: 2px;
}
.range-selected {
  height: 100%;
  left: 30%;
  right: 30%;
  position: absolute;
  border-radius: 5px;
  background-color: red;
}

.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -7px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.range-input input::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 4px solid red;
  background-color: red;
  pointer-events: auto;
  -webkit-appearance: none;
}
.range-input input::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 3px solid red;
  background-color: red;
  pointer-events: auto;
  -moz-appearance: none;
}

.range-price {
  margin: 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.range-price label {
  margin-right: 5px;
}
.range-price input {
  width: 60px;
  background-color: white;
}
.range-price input:first-of-type {
  margin-right: 15px;
}
/* range slider */

.container_checkmark input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container_checkmark {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

.checkmark {
  position: relative;
  top: 0;
  left: 0;
  width: 0.8em;
  height: 0.8em;
  background-color: #ccc;
  border-radius: 25px;
  transition: 0.15s;
}

/* When the checkbox is checked, add a background */
.container_checkmark input:checked ~ .checkmark {
  background-color: #e40306;
  border-radius: 25px;
  transition: 0.15s;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_checkmark input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_checkmark .checkmark:after {
  left: 0.3em;
  top: 0.1em;
  width: 0.25em;
  height: 0.5em;
  border: solid white;
  border-width: 0 0.13em 0.13em 0;
  transform: rotate(40deg);
}

@media only screen and (max-width: 480px) {
  .slider-for img {
    width: 50%;
    height: 200px;
    object-fit: cover;
  }

  .slider-nav img {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
}

@media only screen and (max-width: 768px) {
  .slider-for img {
    width: 50%;
    height: 200px;
    object-fit: cover;
  }

  .slider-nav img {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
}

@media only screen and (max-width: 468px) {
  #selectField,
  #selectField2,
  #selectField3 {
    padding: 15px 10px;
  }
}

@media (min-width: 1536px) and (max-width: 1666px) {
  .nav-menu {
    gap: 18px !important;
  }
}
